<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mp_500">

  <xacro:macro name="fixed_wheel" params="name parent *origin">
   <joint name="${name}_joint" type="fixed">
    <insert_block name="origin" />
    <axis xyz="0 1 0" />
    <joint_properties damping="1" friction="1" />
    <parent link="${parent}" />
    <child link="${name}_link" />
   </joint>

   <link name="${name}_link" type="wheel">
    <inertial>
      <mass value="5.3" />
      <origin xyz="0.000000143 -0.04248127 0.073712479" rpy="0 0 0" />
      <inertia ixx="46.639251649513" ixy="0.0000023227242816" ixz="-0.000001619382358553578" iyy="25.926276619468705" iyz="-0.0000008220581770145895" izz="25.78086321479202" />
    </inertial>

      <visual>
    <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
            <mesh filename="package://neo_mp_500/robot_model/mp_500/meshes/MP-500-FIXED-WHEEL.dae" scale="0.001 0.001 0.001"/>
        </geometry>
      </visual>

    <collision>
     <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
            <mesh filename="package://neo_mp_500/robot_model/mp_500/meshes/MP-500-FIXED-WHEEL.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
</link>
   
  </xacro:macro>
  
</robot>


