<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mp_500">

  <xacro:macro name="caster_wheel" params="name parent *origin">
   <joint name="${name}_joint" type="fixed">
    <insert_block name="origin" />
      <limit effort="1000.0" lower="-1e+16" upper="1e+16" velocity="3.5"/>
      <parent link="${parent}" />
      <child link="${name}_link" />
      <joint_properties damping="1" friction="1" />
   </joint>

   <link name="${name}_link" type="wheel">
    <inertial>
      <mass value="3.5" />
      <origin xyz="0.000000010 -0.045437214 -0.073569633" rpy="0 0 0" />
      <inertia ixx="13.177588678963057" ixy="-0.00000019386313414965295" ixz="-0.0000007636494859403484" iyy="8.48847991205267" iyz="-2.366298925984707" izz="7.157972023102095" />
    </inertial>

      <visual name='castor_wheel'>
    <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
            <mesh filename="package://neo_mp_500/robot_model/mp_500/meshes/MP-500-WHEEL.dae" scale="0.001 0.001 0.001"/>
        </geometry>
      </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
            <mesh filename="package://neo_mp_500/robot_model/mp_500/meshes/MP-500-WHEEL.dae" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
</link>
   
  </xacro:macro>
  
</robot>


