<?xml version="1.0"?>
<!-- Materials -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mp_500">
    
<xacro:include filename="$(find neo_mp_500)/robot_model/mp_500/xacros/mp_500_gazebo.xacro" />

<!--++++++++++++++++++++++++++++++base_link++++++++++++++++++++++++++++++++++++++++++++++++++++--> 
<!--++++++++++++++++++++body++++++++++++++++++++++++++++--> 

<xacro:include filename="$(find neo_mp_500)/robot_model/mp_500/xacros/mp_500_body.xacro" />

<!--+++++++++++++++++++castor_wheel_link++++++++++++++++++++++++--> 
<xacro:include filename="$(find neo_mp_500)/robot_model/mp_500/xacros/mp_500_caster_wheel.xacro" />

<!--+++++++++++++++++++left_wheel_link++++++++++++++++++++++++--> 
<xacro:include filename="$(find neo_mp_500)/robot_model/mp_500/xacros/mp_500_fixed_wheel.xacro" />
  <xacro:mp_500_base name="base_link">
</xacro:mp_500_base>


<!-- Wheel Macro -->
<xacro:caster_wheel name="caster_wheel" parent="base_link">
	<origin xyz="-0.43 0. 0.171" rpy="-1.570796 0 1.570796 " />
</xacro:caster_wheel>

<xacro:fixed_wheel name="wheel_right" parent="base_link">
	<origin xyz="0. -0.25 0.125" rpy="0 0 1.570796" />
</xacro:fixed_wheel>

<xacro:fixed_wheel name="wheel_left" parent="base_link">
	<origin xyz="0. 0.25 0.125" rpy="0 0 -1.570796" />
</xacro:fixed_wheel>

<!--+++++++++++++++++++laserscanner_front_link++++++++++++++++++++++++-->
<!-- SENSORS --> 
<xacro:include filename="$(find neo_mp_500)/robot_model/mp_500/xacros/sick_laser.xacro" />
<xacro:sick_laser_v0 name="laserscanner_1" parent="base_link" ros_topic="sick/scan">
	<origin xyz="0.244 0 0.141" rpy="3.14 0 0" />
</xacro:sick_laser_v0>
    
<joint name="visionary_t_joint" type="fixed">
      <origin xyz="0.104 0 0.481" rpy="${pi/2} 0 ${pi/2}" />
      <parent link="base_link"/>
      <child link="visionary_t"/>
</joint>
<link name="visionary_t" />


<joint name="faro_joint" type="fixed">
      <origin xyz="-0.3 0 1.375" rpy="${0} 0 ${0}" />
      <parent link="base_link"/>
      <child link="faro_link"/>
</joint>
<link name="faro_link" />

<joint name="gamma_joint" type="fixed">
      <origin xyz="0 0 0" rpy="${0} 0 ${0}" />
      <parent link="base_link"/>
      <child link="gamma_link"/>
</joint>
<link name="gamma_link" >
  <visual>
    <origin xyz="0.0 0.0 0" rpy="${-pi/2} 0 0" />
    <geometry>
        <mesh filename="package://neo_mp_500/robot_model/mp_500/meshes/GammaBot.dae" />
    </geometry>
  </visual>
</link>

</robot>
