<?xml version="1.0" ?>
<!-- Copyright (c) 2013-2017 Fraunhofer IOSB, Karlsruhe, Germany. All rights reserved. -->
<robot name="e1_without_tool" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find e1_description)/urdf/e1_links.urdf" />
  <xacro:include filename="$(find e1_description)/urdf/e1_base_joints.urdf" />
  <xacro:include filename="$(find e1_description)/urdf/e1_arm_joints.urdf" />
  <xacro:include filename="$(find e1_description)/urdf/e1_cylinders.urdf" />
  <xacro:include filename="$(find e1_description)/urdf/e1_sensors.urdf" />

  <link name="blade"/>

</robot>
