<?xml version="1.0" ?>
<!-- Copyright (c) 2017 Fraunhofer IOSB, Karlsruhe, Germany. All rights reserved. -->
<robot name="oilquick_bucket_raedlinger" xmlns:xacro="http://ros.org/wiki/xacro">

  <link name="quickcoupler">
    <inertial>
      <mass value="25"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual name="visual_quickcoupler">
      <geometry>
        <mesh filename="package://e1_description/meshes/quickcoupler_oq40.dae" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision name="collision_quickcoupler">
      <origin rpy="0 0 0" xyz="0.2 0 -0.1"/>
      <geometry>
	<box size="0.5 0.3 0.3"/>
      </geometry>
    </collision>
  </link>
  <link name="bucket_raedlinger">
    <inertial>
      <mass value="52"/>
      <origin rpy="0  0  0" xyz="-0.081 0 0.27"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual name="visual_bucket">
      <origin rpy="0 0 0" xyz="0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://e1_description/meshes/bucket_raedlinger.dae" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision name="collision_bucket">
      <origin rpy="0 -0.35 0" xyz="0.15 0.0 -0.25"/>
      <geometry>
	<box size="0.25 0.35 0.5"/>
      </geometry>
    </collision>
    <collision name="collision_bucket_tip">
      <origin rpy="0 -0.25 0" xyz="-0.05 0.0 -0.45"/>
      <geometry>
	<box size="0.3 0.35 0.25"/>
      </geometry>
    </collision>
    <collision name="collision_bucket_underpart">
      <origin rpy="0 -1.1 0" xyz="0.27 0.0 -0.24"/>
      <geometry>
	<box size="0.3 0.35 0.27"/>
      </geometry>
    </collision>
  </link>
  <joint name="quickcoupler_bucket_joint" type="fixed">
    <parent link="quickcoupler"/>
    <child link="bucket_raedlinger"/>
    <origin xyz="0.044405 0.0 -0.126539" rpy="0 -0.034609879 0"/>
    <axis xyz="0 1 0"/>
  </joint>
</robot>
