<?xml version='1.0'?>
<robot name="Armar6" xmlns:xacro="http://ros.org/wiki/xacro">
    <!--<xacro:property name="prefix" value="$(arg prefix)"/>-->
    <xacro:property name="prefix" value=""/>

    <group name="${prefix}Head">
        <joint name="${prefix}Neck_1_Yaw_joint"/>
        <joint name="${prefix}Neck_2_Pitch_joint"/>
    </group>

    <group name="${prefix}IKVirtualGaze">
        <joint name="${prefix}Neck_1_Yaw_joint"/>
        <joint name="${prefix}Neck_2_Pitch_joint"/>
        <joint name="${prefix}VirtualCentralGaze_joint"/>
    </group>

    <group name="${prefix}IKVirtualGazeDepthCamera">
        <joint name="${prefix}Neck_1_Yaw_joint"/>
        <joint name="${prefix}Neck_2_Pitch_joint"/>
        <joint name="${prefix}VirtualCentralGazeDepthCamera_joint"/>
    </group>

    <group name="${prefix}LeftArm">
        <joint name="${prefix}ArmL1_Cla1_joint"/>
        <joint name="${prefix}ArmL2_Sho1_joint"/>
        <joint name="${prefix}ArmL3_Sho2_joint"/>
        <joint name="${prefix}ArmL4_Sho3_joint"/>
        <joint name="${prefix}ArmL5_Elb1_joint"/>
        <joint name="${prefix}ArmL6_Elb2_joint"/>
        <joint name="${prefix}ArmL7_Wri1_joint"/>
        <joint name="${prefix}ArmL8_Wri2_joint"/>
    </group>

    <group name="${prefix}LeftArm-7dof">
        <joint name="${prefix}ArmL2_Sho1_joint"/>
        <joint name="${prefix}ArmL3_Sho2_joint"/>
        <joint name="${prefix}ArmL4_Sho3_joint"/>
        <joint name="${prefix}ArmL5_Elb1_joint"/>
        <joint name="${prefix}ArmL6_Elb2_joint"/>
        <joint name="${prefix}ArmL7_Wri1_joint"/>
        <joint name="${prefix}ArmL8_Wri2_joint"/>
    </group>

    <group name="${prefix}LeftArm7dofColWithoutWrist">
        <joint name="${prefix}ArmL2_Sho1_body_joint"/>
        <joint name="${prefix}ArmL3_Sho2_body_joint"/>
        <joint name="${prefix}ArmL4_Sho3_body_joint"/>
        <joint name="${prefix}ArmL5_Elb1_body_joint"/>
        <joint name="${prefix}ArmL6_Elb2_body_joint"/>
        <joint name="${prefix}ArmL7_Wri1_body_joint"/>
    </group>

    <group name="${prefix}LeftArmCol">
        <joint name="${prefix}ArmL2_Sho1_body_joint"/>
        <joint name="${prefix}ArmL3_Sho2_body_joint"/>
        <joint name="${prefix}ArmL4_Sho3_body_joint"/>
        <joint name="${prefix}ArmL5_Elb1_body_joint"/>
        <joint name="${prefix}ArmL6_Elb2_body_joint"/>
        <joint name="${prefix}ArmL7_Wri1_body_joint"/>
        <joint name="${prefix}ArmL8_Wri2_body_joint"/>
    </group>

    <group name="${prefix}LeftArmColWithoutWrist">
        <joint name="${prefix}ArmL1_Cla1_body_joint"/>
        <joint name="${prefix}ArmL2_Sho1_body_joint"/>
        <joint name="${prefix}ArmL3_Sho2_body_joint"/>
        <joint name="${prefix}ArmL4_Sho3_body_joint"/>
        <joint name="${prefix}ArmL5_Elb1_body_joint"/>
        <joint name="${prefix}ArmL6_Elb2_body_joint"/>
        <joint name="${prefix}ArmL7_Wri1_body_joint"/>
    </group>

    <group name="${prefix}LeftArmHandsCol">
        <joint name="${prefix}ArmL2_Sho1_body_joint"/>
        <joint name="${prefix}ArmL3_Sho2_body_joint"/>
        <joint name="${prefix}ArmL4_Sho3_body_joint"/>
        <joint name="${prefix}ArmL5_Elb1_body_joint"/>
        <joint name="${prefix}ArmL6_Elb2_body_joint"/>
        <joint name="${prefix}ArmL7_Wri1_body_joint"/>
        <joint name="${prefix}ArmL8_Wri2_body_joint"/>
        <joint name="${prefix}Hand_L_Col_joint"/>
    </group>

    <group name="${prefix}PlatformPlanning">
        <joint name="${prefix}X_Platform_joint"/>
        <joint name="${prefix}Y_Platform_joint"/>
        <joint name="${prefix}Yaw_Platform_joint"/>
    </group>

    <group name="${prefix}PlatformRightArm">
        <joint name="${prefix}Yaw_Platform_joint"/>
        <joint name="${prefix}ArmR1_Cla1_joint"/>
        <joint name="${prefix}ArmR2_Sho1_joint"/>
        <joint name="${prefix}ArmR3_Sho2_joint"/>
        <joint name="${prefix}ArmR4_Sho3_joint"/>
        <joint name="${prefix}ArmR5_Elb1_joint"/>
        <joint name="${prefix}ArmR6_Elb2_joint"/>
        <joint name="${prefix}ArmR7_Wri1_joint"/>
        <joint name="${prefix}ArmR8_Wri2_joint"/>
    </group>

    <group name="${prefix}PlatformTorsoLeftArm">
        <joint name="${prefix}Yaw_Platform_joint"/>
        <joint name="${prefix}TorsoJoint_joint"/>
        <joint name="${prefix}ArmL1_Cla1_joint"/>
        <joint name="${prefix}ArmL2_Sho1_joint"/>
        <joint name="${prefix}ArmL3_Sho2_joint"/>
        <joint name="${prefix}ArmL4_Sho3_joint"/>
        <joint name="${prefix}ArmL5_Elb1_joint"/>
        <joint name="${prefix}ArmL6_Elb2_joint"/>
        <joint name="${prefix}ArmL7_Wri1_joint"/>
        <joint name="${prefix}ArmL8_Wri2_joint"/>
    </group>

    <group name="${prefix}PlatformTorsoRightArm">
        <joint name="${prefix}Yaw_Platform_joint"/>
        <joint name="${prefix}TorsoJoint_joint"/>
        <joint name="${prefix}ArmR1_Cla1_joint"/>
        <joint name="${prefix}ArmR2_Sho1_joint"/>
        <joint name="${prefix}ArmR3_Sho2_joint"/>
        <joint name="${prefix}ArmR4_Sho3_joint"/>
        <joint name="${prefix}ArmR5_Elb1_joint"/>
        <joint name="${prefix}ArmR6_Elb2_joint"/>
        <joint name="${prefix}ArmR7_Wri1_joint"/>
        <joint name="${prefix}ArmR8_Wri2_joint"/>
    </group>

    <group name="${prefix}RightArm">
        <joint name="${prefix}ArmR1_Cla1_joint"/>
        <joint name="${prefix}ArmR2_Sho1_joint"/>
        <joint name="${prefix}ArmR3_Sho2_joint"/>
        <joint name="${prefix}ArmR4_Sho3_joint"/>
        <joint name="${prefix}ArmR5_Elb1_joint"/>
        <joint name="${prefix}ArmR6_Elb2_joint"/>
        <joint name="${prefix}ArmR7_Wri1_joint"/>
        <joint name="${prefix}ArmR8_Wri2_joint"/>
    </group>

    <group name="${prefix}RightArm-7dof">
        <joint name="${prefix}ArmR2_Sho1_joint"/>
        <joint name="${prefix}ArmR3_Sho2_joint"/>
        <joint name="${prefix}ArmR4_Sho3_joint"/>
        <joint name="${prefix}ArmR5_Elb1_joint"/>
        <joint name="${prefix}ArmR6_Elb2_joint"/>
        <joint name="${prefix}ArmR7_Wri1_joint"/>
        <joint name="${prefix}ArmR8_Wri2_joint"/>
    </group>

    <group name="${prefix}RightArm7dofColWithoutWrist">
        <joint name="${prefix}ArmR2_Sho1_body_joint"/>
        <joint name="${prefix}ArmR3_Sho2_body_joint"/>
        <joint name="${prefix}ArmR4_Sho3_body_joint"/>
        <joint name="${prefix}ArmR5_Elb1_body_joint"/>
        <joint name="${prefix}ArmR6_Elb2_body_joint"/>
        <joint name="${prefix}ArmR7_Wri1_body_joint"/>
    </group>

    <group name="${prefix}RightArmCol">
        <joint name="${prefix}ArmR2_Sho1_body_joint"/>
        <joint name="${prefix}ArmR3_Sho2_body_joint"/>
        <joint name="${prefix}ArmR4_Sho3_body_joint"/>
        <joint name="${prefix}ArmR5_Elb1_body_joint"/>
        <joint name="${prefix}ArmR6_Elb2_body_joint"/>
        <joint name="${prefix}ArmR7_Wri1_body_joint"/>
        <joint name="${prefix}ArmR8_Wri2_body_joint"/>
    </group>

    <group name="${prefix}RightArmColWithoutWrist">
        <joint name="${prefix}ArmR1_Cla1_body_joint"/>
        <joint name="${prefix}ArmR2_Sho1_body_joint"/>
        <joint name="${prefix}ArmR3_Sho2_body_joint"/>
        <joint name="${prefix}ArmR4_Sho3_body_joint"/>
        <joint name="${prefix}ArmR5_Elb1_body_joint"/>
        <joint name="${prefix}ArmR6_Elb2_body_joint"/>
        <joint name="${prefix}ArmR7_Wri1_body_joint"/>
    </group>

    <group name="${prefix}RightArmHandsCol">
        <joint name="${prefix}ArmR2_Sho1_body_joint"/>
        <joint name="${prefix}ArmR3_Sho2_body_joint"/>
        <joint name="${prefix}ArmR4_Sho3_body_joint"/>
        <joint name="${prefix}ArmR5_Elb1_body_joint"/>
        <joint name="${prefix}ArmR6_Elb2_body_joint"/>
        <joint name="${prefix}ArmR7_Wri1_body_joint"/>
        <joint name="${prefix}ArmR8_Wri2_body_joint"/>
        <joint name="${prefix}Hand_R_Col_joint"/>
    </group>

    <group name="${prefix}RightHandThumbJoints">
        <joint name="${prefix}Thumb_R_1_Joint_joint"/>
        <joint name="${prefix}Thumb_R_2_Joint_joint"/>
    </group>

    <group name="${prefix}TorsoLeftArm">
        <joint name="${prefix}TorsoJoint_joint"/>
        <joint name="${prefix}ArmL1_Cla1_joint"/>
        <joint name="${prefix}ArmL2_Sho1_joint"/>
        <joint name="${prefix}ArmL3_Sho2_joint"/>
        <joint name="${prefix}ArmL4_Sho3_joint"/>
        <joint name="${prefix}ArmL5_Elb1_joint"/>
        <joint name="${prefix}ArmL6_Elb2_joint"/>
        <joint name="${prefix}ArmL7_Wri1_joint"/>
        <joint name="${prefix}ArmL8_Wri2_joint"/>
    </group>

    <group name="${prefix}TorsoRightArm">
        <joint name="${prefix}TorsoJoint_joint"/>
        <joint name="${prefix}ArmR1_Cla1_joint"/>
        <joint name="${prefix}ArmR2_Sho1_joint"/>
        <joint name="${prefix}ArmR3_Sho2_joint"/>
        <joint name="${prefix}ArmR4_Sho3_joint"/>
        <joint name="${prefix}ArmR5_Elb1_joint"/>
        <joint name="${prefix}ArmR6_Elb2_joint"/>
        <joint name="${prefix}ArmR7_Wri1_joint"/>
        <joint name="${prefix}ArmR8_Wri2_joint"/>
    </group>

    <group name="${prefix}Hand_L_EEF">
        <joint name="${prefix}Ring_L_1_Body_joint"/>
        <joint name="${prefix}Ring_L_2_Joint_joint"/>
        <joint name="${prefix}Thumb_L_1_Body_joint"/>
        <joint name="${prefix}Middle_L_1_Joint_joint"/>
        <joint name="${prefix}Ring_L_2_Body_joint"/>
        <joint name="${prefix}Ring_L_3_Joint_joint"/>
        <joint name="${prefix}Ring_L_3_Body_joint"/>
        <joint name="${prefix}Middle_L_1_Body_joint"/>
        <joint name="${prefix}Thumb_L_2_Joint_joint"/>
        <joint name="${prefix}Middle_L_2_Joint_joint"/>
        <joint name="${prefix}Middle_L_2_Body_joint"/>
        <joint name="${prefix}Middle_L_3_Joint_joint"/>
        <joint name="${prefix}Index_L_1_Joint_joint"/>
        <joint name="${prefix}Middle_L_3_Body_joint"/>
        <joint name="${prefix}Index_L_1_Body_joint"/>
        <joint name="${prefix}Index_L_2_Joint_joint"/>
        <joint name="${prefix}Thumb_L_1_Joint_joint"/>
        <joint name="${prefix}Thumb_L_2_Body_joint"/>
        <joint name="${prefix}Hand_L_GCP_joint"/>
        <joint name="${prefix}Hand_L_Root_joint"/>
        <joint name="${prefix}Hand_L_TCP_joint"/>
        <joint name="${prefix}Hand_L_Palm_joint"/>
        <joint name="${prefix}Pinky_L_1_Joint_joint"/>
        <joint name="${prefix}Pinky_L_1_Body_joint"/>
        <joint name="${prefix}Pinky_L_2_Joint_joint"/>
        <joint name="${prefix}Ring_L_1_Joint_joint"/>
        <joint name="${prefix}Pinky_L_2_Body_joint"/>
        <joint name="${prefix}Pinky_L_3_Joint_joint"/>
        <joint name="${prefix}Pinky_L_3_Body_joint"/>
        <joint name="${prefix}Index_L_2_Body_joint"/>
        <joint name="${prefix}Index_L_3_Joint_joint"/>
        <joint name="${prefix}Index_L_3_Body_joint"/>
    </group>

    <end_effector name="${prefix}Hand_L_EEF" parent_link="${prefix}Hand_L_TCP" group="${prefix}Hand_L_EEF"/>

    <group name="${prefix}Hand_R_EEF">
        <joint name="${prefix}Hand_R_Root_joint"/>
        <joint name="${prefix}Hand_R_TCP_joint"/>
        <joint name="${prefix}Pinky_R_1_Joint_joint"/>
        <joint name="${prefix}Pinky_R_1_Body_joint"/>
        <joint name="${prefix}Pinky_R_2_Joint_joint"/>
        <joint name="${prefix}Hand_R_Palm_joint"/>
        <joint name="${prefix}Pinky_R_3_Joint_joint"/>
        <joint name="${prefix}Pinky_R_2_Body_joint"/>
        <joint name="${prefix}Ring_R_1_Joint_joint"/>
        <joint name="${prefix}Pinky_R_3_Body_joint"/>
        <joint name="${prefix}Middle_R_1_Joint_joint"/>
        <joint name="${prefix}Ring_R_1_Body_joint"/>
        <joint name="${prefix}Ring_R_2_Joint_joint"/>
        <joint name="${prefix}Ring_R_2_Body_joint"/>
        <joint name="${prefix}Ring_R_3_Joint_joint"/>
        <joint name="${prefix}Ring_R_3_Body_joint"/>
        <joint name="${prefix}Index_R_1_Joint_joint"/>
        <joint name="${prefix}Middle_R_1_Body_joint"/>
        <joint name="${prefix}Middle_R_2_Joint_joint"/>
        <joint name="${prefix}Middle_R_2_Body_joint"/>
        <joint name="${prefix}Middle_R_3_Joint_joint"/>
        <joint name="${prefix}Middle_R_3_Body_joint"/>
        <joint name="${prefix}Index_R_1_Body_joint"/>
        <joint name="${prefix}Index_R_2_Joint_joint"/>
        <joint name="${prefix}Thumb_R_1_Joint_joint"/>
        <joint name="${prefix}Index_R_2_Body_joint"/>
        <joint name="${prefix}Index_R_3_Joint_joint"/>
        <joint name="${prefix}Index_R_3_Body_joint"/>
        <joint name="${prefix}Thumb_R_1_Body_joint"/>
        <joint name="${prefix}Thumb_R_2_Joint_joint"/>
        <joint name="${prefix}Thumb_R_2_Body_joint"/>
        <joint name="${prefix}Hand_R_GCP_joint"/>
    </group>

    <end_effector name="${prefix}Hand_R_EEF" parent_link="${prefix}Hand_R_TCP" group="${prefix}Hand_R_EEF"/>

</robot>
