<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mp_500">

  <xacro:macro name="mp_500_base" params="name">


    <link name="${name}">
  <inertial>
  <mass value="56.4" />
  <origin xyz="0.000122063 0.106046383 0.229559509" rpy="0 0 0"/>
  <inertia ixx="1934.300108107" ixy="-1.1189088783480243" ixz="-0.40794571883788144"
           iyy="1331.584507173302" iyz="-53.61566974072236" 
           izz="2565.65991901786" />

  </inertial>
  <visual name='body'>
  <origin xyz="0.0 0.0 0" rpy="0 0 1.570796" />
  <geometry>
      <mesh filename="package://neo_mp_500/robot_model/mp_500/meshes/MP-500-BODY.dae" scale="0.001 0.001 0.001"/>
  </geometry>
  </visual>
  <collision name='body_collision'>
  <origin xyz="0.0 0.0 0.0" rpy=" 0 0. 1.570796" />
  <geometry>
    <mesh filename="package://neo_mp_500/robot_model/mp_500/meshes/MP-500-BODY.dae" scale="0.001 0.001 0.001"/>
  </geometry>
  </collision>
  </link>

  </xacro:macro>
  
</robot>
