<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mp_500">

  <xacro:macro name="sick_laser_v0" params="name parent *origin ros_topic">
    <joint name="${name}_joint" type="fixed">
      <axis xyz="0 1 0" />
      <insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${name}_link"/>
    </joint>
    <link name="${name}_link" type="laser">
      <inertial>
        <mass value="0.001" />
        <origin xyz="0 0 0" rpy="0 0 0" />
        <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.0001" />
      </inertial>
      <visual>
      <!-- SICK S3 sensor: Uncomment/Comment it out if required  -->

      <origin xyz="0 0 -0.12" rpy="-1.57 0 3.14" />
        <geometry>
        <mesh filename="package://neo_mp_500/robot_model/mp_500/meshes/SICK-S300.dae" scale="0.001 0.001 0.001" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 -0.13" rpy="-1.57 0 3.14" />
        <geometry>
        <mesh filename="package://neo_mp_500/robot_model/mp_500/meshes/SICK-S300.dae" scale="0.001 0.001 0.001" />
        </geometry>
      </collision>

      <!-- Microscan 3 sensor: Uncomment/Comment it out if required  -->

<!--  <origin xyz="-0.0 0 -0.06" rpy="1.57 0 0" />
      <geometry>
      <mesh filename="package://neo_mp_500/robot_model/mp_500/meshes/SICK-MICROSCAN3.dae" scale="0.001 0.001 0.001" />
      </geometry>
      </visual>
      <collision>
 <origin xyz="-0.0 0 -0.06" rpy="1.57 0 0" />
      <geometry>
        <mesh filename="package://neo_mp_500/robot_model/mp_500/meshes/SICK-MICROSCAN3.dae" scale="0.001 0.001 0.001" />
        </geometry>
      </collision> -->

      
    </link>
  </xacro:macro>
  
</robot>



