<?xml version="1.0" ?>
<!-- Copyright (c) 2013-2017 Fraunhofer IOSB, Karlsruhe, Germany. All rights reserved. -->
<robot name="WackerNeusonET18">
  <material name="material_velodyne">
    <!--color rgba="0.5 0.5 0.55 1"/-->
    <!--color rgba="0.2 0.9 0.2 1"/-->
    <color rgba="0. 1. 0. 1"/>
  </material>
  <material name="material_box">
    <color rgba="0.8 0.8 0.8 0.8"/>
  </material>
  <material name="material_imugps">
    <!--color rgba="0.5 0.5 0.55 1"/-->
    <!--color rgba="0.2 0.9 0.2 1"/-->
    <color rgba="0. 1. 1. 1"/>
  </material>
  <material name="material_cylinder">
    <color rgba="0.3 0.3 0.3 1"/>
  </material>
  <material name="material_piston">
    <color rgba="0.8 0.8 0.8 1"/>
  </material>

  <link name="chassis">
    <inertial>
      <mass value="1500"/>
      <origin rpy="0  0  0" xyz="-0.534  0     0.686"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <collision name="collision_undercarriage">
      <origin rpy="0  0  0" xyz="0     0     0.296"/>
      <geometry>
        <box size=".600 .840 .172"/>
      </geometry>
    </collision>
    <visual name="visual_undercarriage">
      <origin rpy="0  0  0" xyz="0     0     0.296"/>
      <geometry>
        <box size=".600 .840 .172"/>
      </geometry>
      <material name="material_cylinder"/>
    </visual>
    <collision name="collision_rotation_gear">
      <origin xyz="0 0 0.432" rpy="0 0 0"/>
      <geometry>
        <cylinder radius=".20" length=".1"/>
      </geometry>
    </collision>
    <visual name="visual_rotation_gear">
      <origin xyz="0 0 0.432" rpy="0 0 0"/>
      <geometry>
        <cylinder radius=".20" length=".1"/>
      </geometry>
      <material name="material_cylinder"/>
    </visual>
    <collision name="collision_track_tire_right">
      <origin xyz="-.110 -.535 .191" rpy="0 0 0"/>
      <geometry>
        <box size="1.605 .230 .382"/>
      </geometry>
    </collision>
    <visual name="visual_track_tire_right">
      <origin xyz="0.05 -.535 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://e1_description/meshes/track_wheel.dae" scale="0.411 0.4 0.4"/>
      </geometry>
    </visual>
    <collision name="collision_track_tire_left">
      <origin xyz="-.110 .535 .191" rpy="0 0 0"/>
      <geometry>
        <box size="1.605 .230 .382"/>
      </geometry>
    </collision>
    <visual name="visual_track_tire_left">
      <origin xyz="0.05 .535 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://e1_description/meshes/track_wheel.dae" scale="0.411 0.4 0.4"/>
      </geometry>
    </visual>
    <collision name="collision_blade">
      <origin xyz="0.8775 0 0.075" rpy="0 0 0"/>
      <geometry>
	<box size="0.37 1.3 0.91"/>
      </geometry>
    </collision>
  </link>
  <link name="cabin">
    <collision name="collision_cabin">
      <origin xyz="-.384 0 1.5" rpy="0 0 0"/>
      <geometry>
        <box size="1.50 1.1 2.1"/>
      </geometry>
    </collision>
    <visual name="visual_cabin">
      <origin xyz="0 0 0.400" rpy="0 0 1.5707"/>
      <geometry>
        <mesh filename="package://e1_description/meshes/cabin.dae" scale="0.45 0.45 0.45"/>
      </geometry>
      <material name="material_velodyne"/>
    </visual>
  </link>
  <link name="intermediate_cabin_boom">
    <inertial>
      <mass value="10"/>
      <origin rpy="0  0  0" xyz="0.09  0    0.02"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <collision name="collision">
      <origin rpy="0 0 0" xyz="0.07 -0.07 0.05"/>
      <geometry>
        <box size=".400 .40 .40"/>
      </geometry>
    </collision>
    <visual name="visual">
      <origin rpy="0  0  0" xyz="0     0    -0.002"/>
      <geometry>
        <mesh filename="package://e1_description/meshes/intermediate.dae" scale="0.45 0.45 0.45"/>
      </geometry>
    </visual>
  </link>
  <link name="boom">
    <inertial>
      <mass value="50"/>
      <origin rpy="0  0  0" xyz="0.14   0     0.935"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>    
    <collision name="collision_boom_1">
      <origin rpy="0 -0.05 0" xyz="-0.0 0 0.57"/>
      <geometry>
        <box size=".350 .250 1.200"/>
      </geometry>
    </collision>
    <collision name="collision_boom_2">
      <origin rpy="0 0.8224 0" xyz="0.3 0 1.38"/>
      <geometry>
        <box size=".300 .250 1.05"/>
      </geometry>
    </collision>
    <collision name="velodyne_boom_c">
      <origin xyz="0.266848 0.0019812 1.03801" rpy="1.67339 -0.544965 3.09109"/>
      <geometry>
        <cylinder length="0.12" radius="0.08"/>
      </geometry>
    </collision>
    <visual name="visual_boom">
      <origin rpy="0      -0.02    -3.14158" xyz="0  0  0"/>
      <geometry>
        <mesh filename="package://e1_description/meshes/boom.dae" scale="1.1 1.1 1.1"/>
      </geometry>
    </visual>
  </link>
  <link name="stick">
    <inertial>
      <mass value="30"/>
      <origin rpy="0  0  0" xyz="0.495  0     0.31"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <collision name="stick">
      <origin rpy="0 1.018 0" xyz="0.375 0 0.34"/>
      <geometry>
        <box size=".30 .350 1.5"/>
      </geometry>
    </collision>
    <visual name="stick">
      <origin rpy="0     0.055  0" xyz="0  0  0"/>
      <geometry>
        <mesh filename="package://e1_description/meshes/stick.dae" scale="0.42 0.43 0.45"/>
      </geometry>
    </visual>
  </link>
</robot>
